<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Popover</ion-title>

      <ion-buttons slot="end" (click)="presentPopover()">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding">
    <ion-button expand="block" (click)="presentPopover()">Show Popover</ion-button>
    <ion-button expand="block"  (click)="dismissPopover()">Close</ion-button>
  </ion-content>
</ion-app>